
{%extends "base.html"%}

{% block content%}
{% load static %} 

<div class="container mt-5">
  <div class="row g-4 justify-content-center">

    <div class="col-md-4">
      <div class="card h-100 mx-auto" style="max-width: 320px;">
        <img src="{% static 'images/cyberpunk.jpg' %}" class="card-img-top" alt="Cyberpunk 2077">
        <div class="card-body">
          <h5 class="card-title">En Sevdiğim Oyunlar</h5>
          <p class="card-text">Oynamayı en sevdiğim oyunlara buradan ulaşabilirsiniz.</p>
          <a href="{% url 'vlogapp:oyunlarim' %}" class="btn btn-danger">Buraya Tıklayın</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 mx-auto" style="max-width: 320px;">
        <img src="{% static 'images/dizi.jpg' %}" class="card-img-top" alt="Dizi ve Filmler">
        <div class="card-body">
          <h5 class="card-title">İzlediğim Dizi ve Filmler</h5>
          <p class="card-text">İzlediğim dizi ve filmlere buradan ulaşabilirsiniz.</p>
          <a href="{% url 'vlogapp:dizivefilm' %}" class="btn btn-danger">Buraya Tıklayın</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 mx-auto" style="max-width: 320px;">
        <img src="{% static 'images/notlar.jpg' %}" class="card-img-top" alt="Notlar">
        <div class="card-body">
          <h5 class="card-title">Notlarım</h5>
          <p class="card-text">Yazılım için tuttuğum notlara buradan ulaşabilirsiniz.</p>
          <a href="{% url 'vlogapp:notlarim' %}" class="btn btn-danger">Buraya Tıklayın</a>
        </div>
      </div>
    </div>

  </div>
</div>

{%endblock%}