{%extends "base.html"%}

{% block content%}
{% load static %}


<div class="container mt-5">
  <div class="row g-4 justify-content-center">

    <div class="col-md-4">
      <div class="card h-100 mx-auto" style="max-width: 320px;">
        <img src="{% static 'images/korkukapani.jpg' %}" class="card-img-top" alt="Cyberpunk 2077">
        <div class="card-body">
          <h5 class="card-title">Korku Kapanı</h5>
          <a href="{% url 'vlogapp:korkukapani' %}" class="btn btn-danger">Buraya Tıklayın</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 mx-auto" style="max-width: 320px;">
        <img src="{% static 'images/batman1.jpg' %}" class="card-img-top" alt="Dizi ve Filmler">
        <div class="card-body">
          <h5 class="card-title">Batman</h5>
          <a href="{% url 'vlogapp:batman' %}" class="btn btn-danger">Buraya Tıklayın</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 mx-auto" style="max-width: 320px;">
        <img src="{% static 'images/arcane1.jpg' %}" class="card-img-top" alt="Kitap">
        <div class="card-body">
          <h5 class="card-title">Arcane</h5>
          <a href="{% url 'vlogapp:arcane' %}" class="btn btn-danger">Buraya Tıklayın</a>
        </div>
      </div>
    </div>

  </div>
</div>

{%endblock%}

